In [7]:
import pandas as pd

In [17]:
movie_titles_2018 = "movie_title_2018.csv"
movie_titles_2019 = "movie_title_2019.csv"
movie_titles_2020 = "movie_title_2020.csv"
movie_titles_2021 = "movie_title_2021.csv"
movie_titles_2022 = "movie_title_2022.csv"

In [20]:
movie_2018_df = pd.read_csv(movie_titles_2018)
movie_2019_df = pd.read_csv(movie_titles_2019)
movie_2020_df = pd.read_csv(movie_titles_2020)
movie_2021_df = pd.read_csv(movie_titles_2021)
movie_2022_df = pd.read_csv(movie_titles_2022)

   Unnamed: 0                                      0
0           0               Avatar: The Way of Water
1           1                              Supercell
2           2           Puss in Boots: The Last Wish
3           3                        Attack on Titan
4           4  Prizefighter: The Life of Jem Belcher